@use "colors" as c;

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-color: #{c.$dark};
  --light-color: #{c.$light};
  --primary-color: #{c.$primary};
  --highlight-color: #{c.$highlight};
  --border-color: #{c.$border};
  --secondaryText-color: #{c.$secondaryText};
  --activeElement-color: #{c.$activeElement};
  --link-color: #{c.$link};
  --error-color: #{c.$error};

  font-family: Roboto, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
  color-scheme: light dark;
  font-synthesis: none;
}

html,
body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  place-items: center;
}

#root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  min-height: 100dvh;
}

html.dark {
  background-color: c.$dark;
  color: c.$light;
}

html:not(.dark) {
  background-color: c.$light;
  color: c.$dark;
}
